@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

:root {
    --primary-color: #a855f7;
    --primary-color-dark: #9333ea;
    --secondary-color: #ca8a04;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #faf5ff;
    --max-width: 1200px;
}

html {
    scroll-behavior: smooth;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    /* background-color: black; */
    z-index: 99;
}

.nav {
    max-width: 1200px;
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav .logo a:hover {
    color: var(--primary-color-dark);
}

.nav .logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: #a855f7;
    transition: 0.3s;
}

ul {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;


}

.nav .checkbox {
    display: none;
}

.nav input {
    display: none;
}

.nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

ul a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
}

ul li a:hover {
    color: var(--primary-color-dark);

}


.section {
    background-color: var(--extra-light);
    /* background-color: whitesmoke; */
    /* background-color: black; */
}

.section__container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.title span {
    font-weight: 600;
}

.description {
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
}



.action__btns button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.cv {
    background-color: var(--primary-color);
    color: #ffffff;
}

.cv:hover {
    background-color: var(--primary-color-dark);
}

.edu {
    /* background-color: black; */
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    row-gap: 10vh;
    padding: 1rem;
    display: grid;
    /* justify-content: ; */
    align-content: center;
}

.edu h3 {
    font-size: 30px;
    color: var(--primary-color-dark);
}

.clg {
    text-align: center;
    border-radius: 28px;
    /* background-color: rgb(155, 149, 223); */
    /* background-color: white; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    color: var(--primary-color);  */
    /* color: whitesmoke; */
    padding: 4vw;
    background-color: black;
    color: cyan;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.skl {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;

}

.skl h3 {
    margin-top: 10vh;
    font-size: 30px;
    color: var(--primary-color-dark);
}

.sec2,
.sec3 {
    margin-top: 10vh;
    background-color: var(--extra-light);
}

.SCont {
    margin-top: 3vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    justify-items: center;
    row-gap: 5vh;
    column-gap: 5px;
}

.item {
    width: 100%;
    padding: 10px;
    background-color: white;
    padding: 2vw;
    border-radius: 2vw;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

}

.item p {

    font-size: 20px;
}

.pro {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;


}

.pro h3 {
    margin-top: 13vh;
    font-size: 30px;
    color: var(--primary-color-dark);
}

.pros {
    background-color: #f5ebff;
    text-align: center;
    padding: 4vw;
    border-radius: 2vw;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

}

.pro_item {
    row-gap: 10vh;
    padding: 1rem;
    display: grid;
    justify-content: center;
}

footer {
    background-color: #333;
    /* color: #fff; */
    padding: 20px;
    /* text-align: center; */
    /* position: fixed; */
    bottom: 0;
    width: 100%;

}

.Fcont {
    margin-top: 10vh;
    /* min-height: 100vh; */
    max-width: var(--max-width);
    margin: auto;

}

.Fcont h3 {
    text-align: center;
    color: cyan;
    /* font-family: 'Mooli', sans-serif; */
    /* font-family: 'Oswald', sans-serif; */
    font-size: 25px;
    margin-top: 5vh;
}

.conts {
    display: flex;
    justify-content: space-evenly;
}

.mails,
.social {
    margin-top: 5vh;
}

.mails a {
    text-decoration: none;
    color: whitesmoke;
    
}
.mails p{
    text-align: center;
}

.social a {
    color: rgb(246, 250, 249);
    padding: 1vw;
    text-decoration: none;
}




@media (width < 750px) {
    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    ul li a {
        font-size: 1.25rem;
    }

    .nav .checkbox {
        display: block;
    }

    .nav #check:checked~ul {
        left: 0;
    }

    .section__container {
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .action__btns {
        margin: auto;
    }

    h3 {
        text-align: center;
    }

    .SCont {
        grid-template-columns: 100%;
    }

    .conts {
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .social{
        margin-top: 10vh;
    }



}